.brand-name {
    color: #4B5563;
    font-weight: bold;
    font-size: 1.125rem;
}

body.dark-mode .brand-name {
    color: #adb5bd;
}

body {
    background: linear-gradient(to right, #f3f4f6, #e5e7eb);
}

body.dark-mode {
    background: linear-gradient(to right, #1a1a1a, #2d2d2d);
    color: #fff;
}

.form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 24rem;
}

body.dark-mode .form-container {
    background-color: #2d2d2d;
    color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3),
        0 4px 6px -2px rgba(0, 0, 0, 0.2);
}

.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

body.dark-mode .form-title {
    color: #fff;
}

.input-group {
    position: relative;
}

.input-icon {
    position: absolute;
    inset: 0 auto 0 0;
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    pointer-events: none;
}

.right-icon {
    right: 0;
    left: auto;
    padding-right: 0.75rem;
    justify-content: flex-end;
    pointer-events: auto;
    cursor: pointer;
}

.input-field {
    padding-left: 2.5rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    border: 1px solid #D1D5DB;
    border-radius: 9999px;
    background-color: #F3F4F6;
    color: #374151;
    outline: none;
}

body.dark-mode .input-field {
    background-color: #3a3a3a;
    border-color: #555;
    color: #fff;
}

.input-field:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(209, 213, 219, 1);
}

body.dark-mode .input-field:focus {
    box-shadow: 0 0 0 2px rgba(110, 168, 254, 0.5);
}

.dob-label {
    color: #4B5563;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    display: block;
}

body.dark-mode .dob-label {
    color: #adb5bd;
}

.submit-btn {
    width: 100%;
    padding: 0.5rem;
    background-color: black;
    color: white;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

body.dark-mode .submit-btn {
    background-color: #1d70b8;
}

.submit-btn:hover {
    background-color: #111827;
}

body.dark-mode .submit-btn:hover {
    background-color: #0d6efd;
}

.login-btn {
    width: 100%;
    padding: 0.5rem;
    background-color: #E5E7EB;
    color: #4B5563;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

body.dark-mode .login-btn {
    background-color: #444;
    color: #adb5bd;
}

.login-btn:hover {
    background-color: #D1D5DB;
}

body.dark-mode .login-btn:hover {
    background-color: #555;
}

body.dark-mode .login-btn a {
    color: #adb5bd;
    text-decoration: none;
}

.login-btn a {
    color: #4B5563;
    text-decoration: none;
}